.header {
    display: flex;
    min-width: 1200px;
    height: 100px;
    .left-side {

        h1 {

        }
    }
    .right-side {
        .favorite {
            .basket {

            }
        }
    }
}