.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0 auto;
    margin: auto;
    max-width: 1200px;
    height: 50px;
    .left-side {
        margin-left: 50px;
        h1 {
            font-size: 30px;
            font-weight: bold;
        }
    }
    .right-side {
        display: flex;
        justify-content: end;
        margin-right: 50px;
        .favorite {
            margin-right: 30px;
            img {
                width: 30px;
            }
        }
        .basket {
            img {
                width: 30px;
            }
        }
    }
}