.card {
    display: grid;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    .img {
        h2 {

        }
    }
    .title {
        h2 {
            
        }
    }
    .price {
        h2 {
            
        }
    }
    .sale {
        h2 {
            
        }
    }
    .rate {
        h2 {
            
        }
    }
}