.card {
    display: grid;
    width: 350px;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    .img {
        h2 {

        }
    }
    .title {
        h2 {
            
        }
    }
    .price {
        h2 {
            
        }
    }
    .sale {
        h2 {
            
        }
    }
    .rate {
        h2 {
            
        }
    }
    .addToBasket {
        background-color: white;
        border-radius: 20px;
        height: 30px;
    }
}