.card {
    display: grid;
    width: 350px;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    .img {
        h2 {

        }
    }
    .title {
        h2 {
            
        }
    }
    .price {
        h2 {
            
        }
    }
    .sale {
        h2 {
            
        }
    }
    .rate {
        h2 {
            
        }
    }
}